.cardapio{
    height: 50px;
    background-color: rgb(249, 137, 0);
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0; width: 100%; height: 100px;
}

.aces{
    margin-top: -70px;
   margin-left: 1200px;
   text-decoration: double;

   
}

.titulo{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 91px;
    text-align: center;
    
}


.macarao{
    display: inline-block;
    top: -230px;
    position: relative;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid black;
    background-color: aquamarine;
      margin-left: 500px;
}

.image{
   
   width: 500px;
}

.enroladinho{
    display: inline-block;
    top: -230px;
    position: relative;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid black;
    background-color: aquamarine;
    margin-left: 500px;
}

.terceiro{
    display: inline-block;
    top: -300px;
    position: relative;
    text-align: center;
    margin-left: 500px;
    background-color: aquamarine;
    border-radius: 10px ;
    border: 2px solid black;
}


.quarto{
    display: inline-block;
    top: -200px;
    position: relative;
    text-align: center;
    margin-left: 500px;
    background-color: aquamarine;
    border-radius: 10px ;
    border: 2px solid black;
}


.quinto{
    display: inline-block;
    top: -200px;
    position: relative;
    text-align: center;
    margin-left: 500px;
    background-color: aquamarine;
    border-radius: 10px ;
    border: 2px solid black;
}


.sexto{
    display: inline-block;
    top: -200px;
    position: relative;
    text-align: center;
    margin-left: 500px;
    background-color: aquamarine;
    border-radius: 10px ;
    border: 2px solid black;
}



a{
    color: white;
    text-decoration: none;
    
 }
