.cardapio{
    height: 50px;
    background-color: rgb(249, 137, 0);
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0; width: 100%; height: 100px;
}
 .aces{
    color: white;
    background-color: rgb(0, 0, 0);
 }

 a{
    color: white;
    text-decoration: none;
    
 }

table{
   margin-top: 200px;
    border: 2px solid black;
    margin-top: 100px;
    left: 500px;
    right: 500px;
 
 
} 
tr:nth-child(even){
    background-color: rgb(43, 203, 75);
 }
 tr:nth-child(odd){
    background-color: rgb(179, 187, 24);
 }



