.cardapio{
    height: 50px;
    background-color: rgb(249, 137, 0);
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0; width: 100%; height: 100px;
}

.formulario{
    margin-top: 100px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    left: 500px;
}